*
{
margin: 0;
padding: 0;
box-sizing: 0;
}

html
{
    background-color: white;
}

body
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: minmax(200px,auto);
    gap: 10px;
    background-color: #BBCCFF;
}

header
{
    grid-column: 1/span 4;
    grid-row: 1, 2;
}

aside
{
    grid-column: 6/7 ;
    grid-row: 1/2;

}

nav
{
    grid-column: 1/span 2;
    grid-row: 2/4;

}

article
{
    grid-column: 3/ span 4;
    grid-row:2/3;

}

.art
{
    background-color:#BBCCFF;
}

